@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-darkmode/dist/darktheme.css";

@import "bwatch-icons";

$border-color: #f1f1f1;
$break-point: 700px;

#root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.bwatch {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .nav {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .content {
        flex-grow: 1;
        overflow: hidden;
        position: relative;
    }

    .scroll-pane {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    @mixin padded {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .settings {
        @include padded;
    }

    .builds, .groups {

        @media only screen and (min-width: $break-point) {
            flex-direction: row;
            flex-wrap: wrap;
            display: inline-flex;
            gap: 1rem;
            @include padded;
        }

    }

    .card {

        @media only screen and (max-width: $break-point) {
            border-bottom: 1px solid $border-color;
            border-left: none;
            border-right: none;
            border-top: none;
            border-radius: 0;
        }

        @media only screen and (min-width: $break-point) {
            width: 20rem;
            gap: 12px;
            border-color: $border-color;
        }

        .card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon {
                height: 16px;
                width: 16px;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 4px;
            }
            .title {
                flex-grow: 1;
            }
        }

        .status {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .time {
            color: gray;
            font-size: smaller;
        }

        .badge {
            margin-right: 0.5rem;
        }

        .card-body {
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: $break-point) {
                padding: 0.5rem;
            }

            .error-text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .spacer {
            flex-grow: 1;
        }
    }


    .error {
        padding: 1rem;
    }

    .search {
        padding: 1rem;
    }
}

.modal {
    display: block;
    position: fixed;
    margin: auto;
}


